body
{
    margin: 0;
    padding: 0;
}
.head-nav{
    display: flex;
    padding: 10PX;
    font-size: 14px;
    text-align: justify;
    position: relative;
    /* top: -72px; */
    /* left: 480px; */
    width: 700px;
    right: 0px;
}

.head-nav li{
    display: inline;
    color: black;
    font-family:poppins ;

}
a{
    color: black;
    text-decoration: none;
    margin-right:15px ;
}
.top_info{
    color: grey;
        width: 80%;
        border: 10px;
        border-bottom: 0.1px solid grey;
        border-width: 1px;
        padding: 10px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;

}
.top_info #emailTop{
    color: #38ADA9;
}
#logo{
    width: 250px;
    float: left;
    height:50px ;
}
.top_items{
    display: flex;
    flex-direction: row;

}
#req{
    /* position: absolute; */
    background-color:#38ADA9;
    color: white;
    text-decoration: none;
    border-radius: 40px  40px 40px 40px;
    padding-left: 8px;
    text-align: center;
    font-family: poppins;
    font-size: 14px;
    padding: 15px;
    /* margin-bottom: 10px; */
}
.FirstMenu{
    display: flex;
    justify-content: space-between;
}
.req a{
    color: white;
}
/*start head*/
#head
{
    background-image: url('../img/img4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding-top: 50px;
    padding-left: 50px;
    margin-top: 50px;
    height: 500px;
}
#head  h1
{
    color: #38ADA9;
    font-size: 60px;
    font-family: Arial;
}
#head p
{
    color: #377C7A;
    font-size: 20px;
}

.par
{

    width: 950px;
    color: #707070;
    text-align: center;
    font-size: 18px;
    margin: 50px 300px;
}
/*start bundle 1*/
.Bundle1{
    position: relative;
    left: 50px;

}
.Bundle1 .desc
{
    width: 32%;
    height: 600px;
    margin-right: 45px;
    margin-top: 20px;
    padding: 10px 170px;
    left: 80px;
    background-color: #38ADA9;
    border-radius: 25%;
}
.Bundle1 .desc h2
{
    text-align: center;
    font-family: cursive;
}
.Bundle1 .desc p{
    font-family: sans-serif;
    color: aliceblue;
    line-height: 26px;
    width: 680px;
    margin-left: -80px;
    font-size: 20px;
}
.Bundle1 .img
{
    position: absolute;
    width: 625px;
    height: 350px;
    background-image: url('../img/img5.jpg');
    background-size: 100% 100%;
    border-radius: 18%;
    left: 790px;
    top: 130px;
}
.Bundle1 a{
    position: absolute;
    border-radius: 25px;
    right: 300px;
    bottom: 70px;
    background-color: #38ADA9;
    width: 160px;
    font-size: 25px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
/*start bundle 2*/
.Bundle2{
    position: relative;
    margin-top: 50px;

}
.Bundle2 .desc
{
    width: 43%;
    height: 600px;
    padding: 10px 170px;
    margin-right: 45px;
    margin-top: 20px;
    padding: 10px 90px;
    background-color: #38ADA9;
    border-radius: 25%;
    float: right;
}

.Bundle2 .desc h2
{
    text-align: center;
    font-family: cursive;
}
.Bundle2 .desc p{
    font-family: sans-serif;
    color: aliceblue;
    line-height: 26px;
    width: 680px;
    font-size: 20px;
}
.Bundle2 .img
{
    position: absolute;
    width: 625px;
    height: 350px;
    background-image: url('../img/img6.jpg');
    background-size: 100% 100%;
    border-radius: 18%;
    left: 60px;
    top: 150px;
}
.Bundle2 a{
    position: absolute;
    border-radius: 25px;
    left: 260px;
    bottom: 70px;
    background-color: #38ADA9;
    width: 160px;
    font-size: 25px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    animation-duration: 5s;
    animation-iteration-count: 2;
}
/*start bundle 3*/
.Bundle3{
    position: relative;
    margin-top:70px;
    left: 60px;
}
.Bundle3 .desc
{
  width: 32%;
  height: 600px;
  margin-right: 45px;
  margin-top: 20px;
  padding: 10px 170px;
  left: 120px;
  background-color: #38ADA9;
  border-radius: 25%;
}
.Bundle3 .desc h2
{
    text-align: center;
    font-family: cursive;
}
.Bundle3 .desc p{
  font-family: sans-serif;
  color: aliceblue;
  line-height: 28px;
  width: 680px;
  margin-left: -80px;
  font-size: 20px;
}
.Bundle3 .img
{
  position: absolute;
  width: 625px;
  height: 350px;
  background-image: url('../img/img7.jpg');
  background-size: 100% 100%;
  border-radius: 18%;
  left: 790px;
  top: 130px;
}
.Bundle3 a{
  position: absolute;
  border-radius: 25px;
  right: 300px;
  bottom: 70px;
  background-color: #38ADA9;
  width: 160px;
  font-size: 25px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
/*start bundle 4*/
.Bundle4{
    position: relative;
    margin-top: 50px;
}
.Bundle4 .desc
{
  width: 43%;
  height: 600px;
  padding: 10px 170px;
  margin-right: 45px;
  margin-top: 20px;
  padding: 10px 90px;
  background-color: #38ADA9;
  border-radius: 25%;
  float: right;
}

.Bundle4 .desc h2
{
    text-align: center;
    font-family: cursive;
}
.Bundle4 .desc p{
  font-family: sans-serif;
  color: aliceblue;
  line-height: 26px;
  width: 680px;
  font-size: 20px;
}
.Bundle4 .img
{
  position: absolute;
  width: 625px;
  height: 350px;
  background-image: url('../img/img6.jpg');
  background-size: 100% 100%;
  border-radius: 18%;
  left: 60px;
  top: 150px;
}
.Bundle4 a{
  position: absolute;
  border-radius: 25px;
  left: 260px;
  bottom: 70px;
  background-color: #38ADA9;
  width: 160px;
  font-size: 25px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  animation-duration: 9s;

}
/*start footer*/
/* Footer Style */
.footer {
    color: #3E3E3E;
    background-color: #FAFAFA;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6em;
    margin-top: 20px;
}
.footer a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}
.footer a:hover{
    color: #38ADA9;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.footer .row .column {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    /* width: -webkit-fill-available; */
}

.footer .row .column h2 {
    color: black;
    font-family: 1em;
}

.footer .row .column div {
    padding: 6px 0;
}
@media only screen and (max-width: 700px) {

    .footer,row,column{
      width: 100%;
    }
    .column{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
  }
/*start media query for phone*/
@media screen and (max-width : 700px ){
    #head
    {
        padding-top: 25px;
        padding-left: 10px;
        width: 100%;
    }
    #head  h1
    {
        text-align: center;
        width: 500px;

    }
    #head p
    {
      padding-left: 10px
        text-align: center;
        width: 500px;
    }
    .par
    {
        color: #707070;
        text-align: center;
        font-size: 18px;
        margin: 20px 5px;
        width: 480px;
    }
    /*start bundle 1*/
    .Bundle1{


        position: static;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .Bundle1 .desc
    {
        width: inherit;
        margin: 0;
        padding: 10px 0px;
        border-radius: 28%;
        height: 450px;
    }
    .Bundle1 .desc h2
    {
      color: white;
        text-align: center;
        font-family: cursive;
    }
    .Bundle1 .desc p{
        font-family: sans-serif;
        color: aliceblue;
        line-height: 18px;
        font-size: 12px;
        margin: 0px 10px;
        padding: 0px 20px;
        width: inherit;
    }
    .Bundle1 .img
    {
        position: static;
        background-image: url('../img/img5.jpg');
        background-size: 100% 100%;
        border-radius: 38%;
        margin: 0 auto;
        height: 250px;
        width: 76%;
    }
    .Bundle1 .btn{
            display: flex;
            justify-content: center;

    }
    .Bundle1 a{
        position: static;
    }
    /*start bundle 2*/
    .Bundle2{
      position: static;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .Bundle2 .desc
    {
      width: inherit;
      margin: 0;
      padding: 10px 0px;
      border-radius: 28%;
      height: 450px;
    }

    .Bundle2 .desc h2
    {
      color: white;
        text-align: center;
        font-family: cursive;
    }
    .Bundle2 .desc p{
      font-family: sans-serif;
      color: aliceblue;
      line-height: 18px;
      font-size: 12px;
      margin: 0px 10px;
      padding: 0px 20px;
      width: inherit;
    }
    .Bundle2 .img
    {
      position: static;
      background-image: url('../img/img6.jpg');
      background-size: 100% 100%;
      border-radius: 38%;
      margin: 0 auto;
      height: 250px;
      width: 76%;
    }
    .Bundle2 .btn{
        display: flex;
        justify-content: center;
    }
    .Bundle2 a{
        position: static;
    }
    /*start bundle 3*/
    .Bundle3{
      position: static;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
     }
    .Bundle3 .desc
    {
      width: inherit;
      margin: 0;
      padding: 10px 0px;
      border-radius: 28%;
      height: 450px;
    }
    .Bundle3 .desc h2
    {
      color: white;
        text-align: center;
        font-family: cursive;
    }
    .Bundle3 .desc p{
      font-family: sans-serif;
      color: aliceblue;
      line-height: 18px;
      font-size: 12px;
      margin: 0px 10px;
      padding: 0px 20px;
      width: inherit;
    }
    .Bundle3 .img
    {
      position: static;
      background-image: url('../img/img7.jpg');
      background-size: 100% 100%;
      border-radius: 38%;
      margin: 0 auto;
      height: 250px;
      width: 76%;
    }
    .Bundle3 .btn{
            display: flex;
            justify-content: center;
    }
    .Bundle3 a{
        position: static;
    }
    /*start bundle4 */
    .Bundle4{
      position: static;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .Bundle4 .desc
    {
      width: inherit;
      margin: 0;
      padding: 10px 0px;
      border-radius: 28%;
      height: 450px;
    }

    .Bundle4 .desc h2
    {
      color: white;
        text-align: center;
        font-family: cursive;
    }
    .Bundle4 .desc p{
      font-family: sans-serif;
      color: aliceblue;
      line-height: 18px;
      font-size: 12px;
      margin: 0px 10px;
      padding: 0px 20px;
      width: inherit;
    }
    .Bundle4 .img
    {
      position: static;
      background-image: url('../img/img8.jpg');
      background-size: 100% 100%;
      border-radius: 38%;
      margin: 0 auto;
      height: 250px;
      width: 76%;
    }
    .Bundle4 .btn{
        display: flex;
        justify-content: center;
    }
    .Bundle4 a{
        position: static;
    }

}
